/* App.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
}

.App {
  text-align: center;
}

.header, .info-section, .footer{
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header h1 {
  color: #ff5722;
}

.footer p {
  font-style: italic;
}

.info-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.section-heading1 {
  flex: 1;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: rgb(54, 56, 206);
  color:white;
}

.section-heading2 {
  flex: 1;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  color:black;
}

.section-heading3 {
  flex: 1;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: rgb(232, 60, 60);
  color:white;
}


.scroll-animate {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.french-phrases {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  opacity: 0; /* Set initial opacity to 0 */
  transform: translateY(50px); /* Set initial position to make it hidden */
  transition: opacity 0.5s, transform 0.5s; /* Add smooth transitions */
}

.french-phrases.visible {
  opacity: 1;
  transform: translateY(0);
}

.french-phrases h2 {
  color: #333;
}

.phrase-column {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  margin: 10px;
}

/* Add more styles and colors as needed */
